.dataNascimento-pet label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
}

.dataNascimento-pet input {
    width: 95%;
    height: 100%;
    font-weight: 300;
    font-size: 12px;
    border-radius: 8px;
    border: 2px solid #E2DDD9;
    background:#FFF;
    padding: 17px 15px;
    margin-bottom: 20px;
}