body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color:#E2DDD9;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  display: flex;
  justify-content: center;
}